* {
    user-select: none;
}

.home-section {
    position: relative;
    background: var(--ce);
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: var(--b);
    font-size: 35px;
    z-index: 1;
    border-radius: 6px;
    background-color: var(--c);
    padding: 3px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
    position: fixed;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

#profilecover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 180px;
    background-color: rgb(205, 205, 207);
    background-size: 100%;
}

#profileicon {
    background-image: url('../src/5.png');
    background-color: var(--caa);
    background-size: 100%;
    margin-top: 100px;
    margin-left: 80px;
    border-radius: 30px;
    border: 5px solid var(--ce);
    height: 130px;
    width: 130px;
}

#profileinfos {
    width: 100%;
    height: 50px;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

#profilenickname {
    margin-left: 220px;
    color: var(--b);
    font-size: 18px;
    font-weight: 500;
    width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}

.profileemblems {
    width: 65%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: flex-end;
    color: var(--b);
}

.profileemblems #emblemsicons {
    height: 35px;
    width: 35px;
    margin: 5px;
    background-color: var(--c);
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 250;
}

.profileemblems #emblemsicons:hover {
    transition: 0.3s;
    background-color: var(--pa);
}

.config-perfil #emblemsicons {
    margin-left: 20px;
    background-color: var(--pa);
}

#containerprofile {
    width: 100%;
    height: 100vh;
    margin-top: 8px;
    background-color: var(--ce);
}

#insertpost {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background-color: var(--c);
    display: flex;
    align-items: center;
    justify-content: start;
}

.input-box {
    width: 50%;
    height: 50%;
    margin-left: 85px;
}

.input-box input:focus {
    border-color: var(--v);
}

.input-box.button {
    margin-left: 20px;
    display: flex;
    width: 100px !important;
}

.input-box.button input {
    text-align: center;
}

.input-box.button .material-symbols-outlined {
    position: absolute;
    color: var(--b);
    margin: 18px 0 0 140px;
    cursor: pointer;
}

.config-modal {
    position: absolute;
    margin-top: 20px;
    margin-left: -100px;
    border-radius: 5px;
    width: 160px;
    height: 80px;
    background-color: var(--pa);
    display: none;
    text-align: center;
    cursor: pointer;
}

.config-modal div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.5s;
    padding-left: 15px;
}

.config-modal .edit-icon {
    border-radius: 5px 5px 0 0;
}

.config-modal .edit-banner {
    border-radius: 0 0 5px 5px;
}

.config-modal .material-symbols-outlined {
    margin-right: 10px;
}

.config-modal div:hover {
    background-color: var(--ce);
}

@media (max-width: 850px) {
    .profileemblems {
        display: none;
    }
}

@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}