body {
    min-height: 100vh;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background: var(--p);
    overflow: hidden;
}

.wrapper {
    position: relative;
    max-width: 430px;
    width: 100%;
    background:  var(--ce);
    height: 550px;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px var(--p);
    border: 3px solid var(--c);
}

.wrapper h2 {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    color:  var(--b);
}

.wrapper h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background:  var(--v);
}

input {
    background-color: var(--pa);
    color:  var(--b) !important;
}

.wrapper form {
    margin-top: 30px;
}

.wrapper form .input-box {
    height: 52px;
    margin: 18px 0;
}

form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color:  var(--c);
    border: 3px solid var(--ca);
    border-radius: 6px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: var(--v);
}

form .policy {
    display: flex;
    align-items: center;
}

.chk input {
    display: none;
}

.chk span {
    width: 12px;
    height: 12px;
    display: block;
    background-color: #fff;
    border: 1px solid #DDD;
}

.chk input:checked + span {
    background-color: var(--v);
}

form h3 {
    color: var(--ca);
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.input-box.button input {
    color: var(--b);
    letter-spacing: 1px;
    border: none;
    background: var(--v);
    cursor: pointer;
    font-weight: 600;
}

.input-box.button input:hover {
    background: var(--ve);
}

form .text h3 {
    color:  var(--b);
    width: 100%;
    text-align: center;
}

form .text h3 a {
    color:  var(--v);
    text-decoration: none;
}

form .text h3 a:hover {
    text-decoration: underline;
}

.fa-solid,
.fas {
    position: absolute;
    margin-top: 20px;
    margin-left: -40px;
    color: var(--ca);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#containerfooter {
    width: 250px;
    height: 100%;
    font-size: 12px;
    text-align: center;
    display: flex;
    color:  var(--b);
}

#containerfooter span {
    margin-top: 7px;
    margin-left: 20px;
}

#logocpxs {
    height: 80px;
    width: 100px;
    margin-top: -28px;
}

@media(max-width:880px) {
    footer {
        display: none;
    }
}